{{#if tasks}}
    <table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
    {{#each tasks}}
    <tr>
        <td>
            {{@index}}
        </td>
        <td>
            {{title}}
        </td>
        <td>
            {{description}}
        </td>
        <td>
            {{#if done}}
                <a href="/task/{{_id}}/toggleDone" class="btn btn-success">Undone</a>
            {{else}}
                <a href="/task/{{_id}}/toggleDone" class="btn btn-dark">Done</a>
            {{/if}}
            
            <a class="btn-delete btn btn-danger" data-id="{{_id}}">Delete</a>
            <a href="/task/{{_id}}/edit" data-id="{{_id}}" class="btn btn-info">Update</a>
        </td>
    </tr>   
            
            {{/each}}
    </tbody>
</table>



{{else}}
            <div class="text-center text-white bg-dark">
                
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="text-center text-white pb-10">
                        <h2>No Tasks</h2>
                        <hr>
                    <img height="200" width="200" src="https://cdn-icons-png.flaticon.com/512/1028/1028163.png" alt="icono de tareas" >
                    <hr>
                    </div>
                </div>
            </div>
{{/if}}

<script>
    
    const btnDelete = document.getElementsByClassName("btn-delete")
    
    async function deleteTask(){
            console.log("me diste click")
            for(var i = 0; i < btnDelete.length; i++){
                var id = btnDelete[i].dataset.id
            }
        

        try{
            const data = await fetch(`/delete/task/${id}`,{
                method: "delete",
            })
            const res = await data.json()
                if(res.estado){
                    window.location.href = '/';
                }else{
                    console.log("error")
                }
            var as = true;
        }catch(e){
            console.log(e)
        }
}

        for(var i = 0; i < btnDelete.length; i++){
            btnDelete[i].addEventListener("click",deleteTask)
    }
    

</script>
    
