<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../../css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->

        {{!-- eventos --}}
        <link rel="stylesheet" href="../../css/eventos.css">
     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link href="../../css/inicio.css" rel="stylesheet" />
        
    </head>
    <body class="sb-nav-fixed">
        
      
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 padre-logo" href="/"><img class="logo-latam" src="https://www.latinoamericax.org/wp-content/uploads/2020/09/logo-latinoamericax.png"></a>
            <!-- Sidebar Toggle-->
            <button class="btn sinSombra" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
           <div class="img-menu-container">
               <img src="../../img/startup.png" class="img-menu">
           </div>
            <!-- Navbar-->
             {{#if session}}

            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    
                         <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                          <li><a class="dropdown-item" href="#!"><b>{{nombre}}</b></a></li>
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      
                    </ul>
                    
               
              
              
                    
                    {{else}}
                        <ul class="ul-login">
                        <li><a class="login-a" href="/login">Login</a>
                        </ul>
                         <ul class="ul-login">
                        <li><a class="login-a" onclick="window.location.href = 'http://localhost:3000/#registro'">Registro</a>
                        </ul>
                        
                    {{/if}}


                {{#if mensajeBienvenida}}
                        <div class="alert alert-success alert-dismissable exito-db animation-slide" id="mensaje-alert">
                            <span type="text" class="close m-exito" data-dismiss="alert" id="close-success">&times;</span>
                            <strong>{{message}} {{nombre}}</strong>
                        </div>
                {{/if}}
                   
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                          <div  class="inicio-menu" >
                            <a href="/">
                            <img src="https://www.pngplay.com/wp-content/uploads/7/Home-Logo-Background-PNG-Image.png">
                            <p>INICIO</p>
                            </a>
                          </div>
                            <div class="sb-sidenav-menu-heading">Cursos</div>
                            <a class="nav-link" href="/tutoriales">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Tutoriales
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Personas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="cursosHomologablesPersonas">Homologables</a>
                                    <a class="nav-link" href="cursosNoHomologablesPersonas">No Homologables</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Empresas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="cursosHomologablesEmpresas">Homologables</a>
                                    <a class="nav-link" href="cursosNoHomologablesEmpresas">No Homologables</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Eventos</div>
                            <a class="nav-link" href="/bootcamps">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Bootcamps
                            </a>
                            <a class="nav-link" href="/hackathons">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Hackathons
                            </a>
                            <div class="sb-sidenav-menu-heading">Centro de Innovación</div>
                            <a class="nav-link" href="/tours">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tours 4.0
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{nombre}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
      
<!-- el Modal -->
{{!-- modal --}}
<!-- Trigger the modal with a button -->

<!-- Modal -->
<!-- Button trigger modal -->










                {{{body}}}
        
          




{{!-- FOOTER --}}
<footer class="text-center text-white bottom-footer" style="background-color: black;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/asublanco.png"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/ibserblanco-1024x587.png"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/effective.png"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/makersblanco-1024x478.png  "
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/gesx-05.png"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 logos-center">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.latinoamericax.org/wp-content/uploads/2020/06/LatinoamericaX.png"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.latinoamericax.org/">LatinoamericaX</a>
  </div>
  <!-- Copyright -->
</footer>




<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Solicitud de beca</h5>
        <h5 class="modal-title-curso" id="exampleModalLongTitle">Curso: {{curso}}</h5>
        
        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/beca" method="post" enctype="multipart/form" >

            <div class="form-beca">
            <div>
                    <label for="nombre-beca" class="label-beca">Nombre <span class="red">*</span></label>
                    <input type="text" id="nombre-beca" name="nombre" class="input-beca" required>
            </div>
        

            <div>
                    <label for="apellidos-beca" class="label-beca">Apellidos <span class="red">*</span></label>
                    <input type="text" id="apellidos-beca" name="apellidos" class="input-beca" required>
            </div>
            <div>
                    <label for="telefono-beca" class="label-beca">Telefono <span class="red">*</span></label>
                    <input type="text" id="telefono-beca" name="telefono" class="input-beca" required>
            </div>
            <div>
                    <label for="email-beca" class="label-beca">Email <span class="red">*</span></label>
                    <input type="email" id="email-beca" name="email" class="input-beca" required>
            </div>
            <div>
                    <label for="nacimiento-beca" class="label-beca">Fecha de nacimiento <span class="red">*</span></label>
                    <input type="date" id="nacimiento-beca" name="nacimiento" class="input-beca" required>
            </div>
            
            </div>
                
            <div class="text-beca">
                
                <div class="text-beca-content">
                    <label for="razon-beca" class="label-beca">¿Por que deberias becarte?</label>
                    <textarea id="razon-beca" name="razon"></textarea>
                </div>

            </textarea>
            <input type="hidden" value="{{curso}}" name="curso">
            </div>
            <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Aplica ahora</button>
      </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

{{#if registro}}
<div class="alert alert-success alert-dismissable exito-db animation-slide" id="mensaje-alert">
  <span type="text" class="close m-exito" data-dismiss="alert" id="close-success">&times;</span>
  <strong>{{message}}</strong>
</div>
{{/if}}
{{#if login}}
<div class="alert alert-success alert-dismissable exito-db animation-slide" id="mensaje-alert">
  <span type="text" class="close m-exito" data-dismiss="alert" id="close-success">&times;</span>
  <strong>{{message}}</strong>
</div>
{{/if}}
{{#if beca}}
<div class="alert alert-success alert-dismissable exito-db animation-slide" id="mensaje-alert">
  <span type="text" class="close m-exito" data-dismiss="alert" id="close-success">&times;</span>
  <strong>{{message}}</strong>
</div>
{{/if}}




<!-- MODAL DE PAGOS -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="tabs mt-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"> <a class="nav-link active" id="visa-tab" data-toggle="tab" href="#visa" role="tab" aria-controls="visa" aria-selected="true"> <img src="https://i.imgur.com/sB4jftM.png" width="80"> </a> </li>
                        <li class="nav-item" role="presentation"> <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false"> <img src="https://i.imgur.com/yK7EDD1.png" width="80"> </a> </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                            <div class="mt-4 mx-4">
                                <div class="text-center">
                                    <h5>Credit card</h5>
                                </div>
                                <div class="form mt-3">
                                    <div class="inputbox"> <input type="text" name="name" class="form-control font-modal" required="required"> <span>Cardholder Name</span> </div>
                                    <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control font-modal" required="required"> <span>Card Number</span> <i class="fa fa-eye"></i> </div>
                                    <div class="d-flex flex-row">
                                        <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control font-modal" required="required"> <span>Expiration Date</span> </div>
                                        <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control font-modal" required="required"> <span>CVV</span> </div>
                                    </div>
                                    <div class="px-5 pay"> <button class="btn btn-success btn-block">Add card</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                            <div class="px-5 mt-5">
                                <div class="inputbox"> <input type="text" name="name" class="form-control font-modal" required="required"> <span>Paypal Email Address</span> </div>
                                <div class="pay px-5"> <button class="btn btn-primary btn-block">Add paypal</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  








        <script>
            function maximo(campo,limite){
            if(campo.value.length>=limite){
            campo.value=campo.value.substring(0,limite);
            alert("maximo de caracteres permitidos");
             }
            }
            </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../../js/scripts.js"></script>
        <script src="../../js/modal.js"></script>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        
    </body>
</html>